<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Home Office Address</h3>

    <p>7, Jalan 22/44, Petaling Jaya, Selangor, MY 46300</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "012-944-1213" %></p>

    <h3>Email</h3>

    <p><a href="mailto:mhaikal.mhussein@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.960144172738!2d101.61773254969773!3d3.1052418977277125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2s3.1052419%2C101.6199266!5e0!3m2!1sen!2smy!4v1537247057980" width="450" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



